<!DOCTYPE html>
<html>
<head>
<title>Pulp {{tested_version}}-{{tested_branch}} test results</title>
</head>
<body>
<h2>Pulp {{tested_version}}-{{tested_branch}} test results</h2>
{% for item in html_result_files.files%}
    <a href="{{item.path | basename}}">{{item.path | basename}}</a>
    <br>
{% endfor %}

</body>
</html>
